<%= form_with(model: recipe, local: true, :html => {:id => "recipeform", :multipart => true}) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= form.hidden_field :id %>
  <%= form.hidden_field :isloading, :value => false %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.collection_check_boxes(:icon_ids, Icon.all, :id, :name ) do |t|  %>
      <% t.label { t.check_box + t.text } %>
    <% end %> 
  </div>
  
  <div class="field">
    <%= form.label :user %>
    <%= form.select :user, usernamehash %>
  </div>

  <div class="field">
    <%= form.label :good %>
    <%= form.number_field :good %>
  </div>

  <div class="field">
    <%= form.label :last_cocked %>
    <%= form.date_field :last_cocked %>
  </div>
  
  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
    
  <div class="field">
    <%= label_tag 'Image' %>
    <%= file_field_tag 'recipeimage[imagetmp][]', id: 'imagefile0' %>
    <div id="imagediv0" style="display:none"></div>
    <span id="nextimagetag"></span>
    <br>
    <button id="addimage">Add Image</button>
  </div>

  <br>
  <div class="actions" style="display:none">
    <%= form.submit %>
  </div>
<% end %>

<div id="mysubmitdiv">
  <button id="mysubmit" class="btn btn-large btn-block btn-primary">Submit</button>
</div>
<br><br>

<style>
input,textarea {
  width:100%;
}
input[name="recipe[icon_ids][]"]{
  width:30px
}
</style>
<script>
(function(){
  function addOnLoadEvent(imagecount){
    document.getElementById('imagefile'+imagecount).onchange = function (e) {
      loadImage(
        e.target.files[0],
        function (img) {
          console.log(img);
          $("#"+e.target.id.replace('imagefile','imagediv')).empty().append($(img).attr('id', 'imagedata'+imagecount));
        },
        {canvas: true, orientation: true}
      );
    };
  }
  
  addOnLoadEvent(0);
  let imagecount=1;
  $("#addimage").on('click', function(e) {
    e.preventDefault(false);
    $('<br><input type="file" name="recipeimage[imagetmp][]" id="imagefile'+imagecount+'"/><div id="imagediv'+imagecount+'" style="display:none"></div>').insertBefore("#nextimagetag");
    addOnLoadEvent(imagecount);
    imagecount++;
  });

  $("#mysubmit").on('click', function(e) {
    e.preventDefault(false);
    $("#mysubmitdiv").html('<button class="btn btn-large btn-block btn-successsecondary">Connecting...</button>');
    const posturl=$("#recipeform").attr("action")+".json";
    let postdata=new FormData($("#recipeform").get(0));
    postdata.delete("recipeimage[imagetmp][]");
    $.ajax({
      url: posturl,
      type: "post",
      data: postdata,
      processData: false,
      contentType: false
    }).done(function(data) {
      $("#mysubmitdiv").html('<button class="btn btn-large btn-block btn-successsecondary">Sending Image(s)...</button>');
      $("#recipe_id").val(data["id"]);
      saveImage();
    });

    function saveImage(){
      let hasimage=false;
      $("input[type=file]").each(function(i, elem) {
        if($(elem).val()!=""){
          hasimage=true;
          return;
        }
      });
      if(hasimage){
        const postdata=new FormData($("#recipeform").get(0));
        let nowcount=0;
        for(let i=0;i<imagecount;i++){
          const img = document.getElementById('imagedata'+i);
          const base64 = img.toDataURL('image/jpeg');	       
          // base64からBlobデータを作成
          let barr, bin, j, len;
          bin = atob(base64.split('base64,')[1]);
          len = bin.length;
          barr = new Uint8Array(len);
          j = 0;
          while (j < len) {
            barr[j] = bin.charCodeAt(j);
            j++;
          }
          let blob = new Blob([barr], {type: 'image/jpeg'});
          postdata.append('recipeimage[image][]', blob);
	}
        postdata.delete('recipeimage[imagetmp][]');
	sendData(postdata);		   
      }else{
        moveToShow();
      }
    }
    
    function sendData(postdata){
      const saveurl="<%= api_saverecipeimage_path %>.json";
      $.ajax({
        url: saveurl,
        type: "post",
        data: postdata,
        processData: false,
        contentType: false
      }).done(function(data) {
        moveToShow();
      });
    }
    
    function moveToShow(){
      const showurl="<%= recipes_path %>/"+$("#recipe_id").val();
      location.href=showurl;
    }
  });

  $("#mysubmit").html($("input[type=submit]").val());
})();
</script>


